.iPhone {
    width: 397px;
    height: 852px;
    background-color: black;
    border-radius: 37px;
    border: 6px solid #3E3E3E;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 8px;
}
.Window {
    width: 367px;
    height: 100%;
    background-color: #414141;
    border-radius: 28px;
    margin: 0 auto;
    padding: 5px;
    justify-content: center;
    text-align: center;
}

.Camera {
    background-color: black;
    width: 92px;
    height: 26px;
    margin: 19px auto;
    border-radius: 50px;
    text-align: center;
}